.DS_Store
*.swp
*.swo
*.tmp
*.log

DerivedData/
build/
.build/
.swiftpm/

*.xcuserstate
**/*.xcuserstate
xcuserdata/
**/xcuserdata/

*.xcworkspace/
**/*.xcworkspace/
*.xcodeproj/
**/*.xcodeproj/

*.xcresult/
**/*.xcresult/

Carthage/
Pods/

